@{
    ViewData["Title"] = "Home";
}

<div class="container text-center" style="margin-top: 50px">
    <h1 style="font-weight:bold">DemoClient</h1>
    <h3>Welcome to the DemoClient</h3>
    <h4>The DemoClient solution provides facility to view and download server files from DemoServer.</h4>
</div>